@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

h1,h2,h3,h4,h5,h6,p{font-weight:normal;margin:0}ul{margin:0;padding:0;text-indent:0;list-style-type:none}a{color:inherit;text-decoration:none}.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6,.markdown p,.markdown td,.markdown ol,.markdown ul,.markdown pre{overflow-wrap:break-word;word-break:break-word}.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6,.markdown p,.markdown ol,.markdown ul,.markdown pre,.markdown table{margin-bottom:2rem}.markdown ol,.markdown ul{padding-inline-start:2rem}.markdown ul{list-style-type:"—"}.markdown li{padding-left:.5em}.markdown a{border-bottom-style:solid;border-bottom-width:1px;outline:none;transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;border-radius:2px}.markdown a:focus:not(:active){background-color:rgb(var(--focus));color:rgb(var(--on-focus))}.markdown a:focus:not(:active) svg{fill:rgb(var(--on-focus))}.markdown a:focus:not(:active){outline:none;box-shadow:0 0 0 4px rgb(var(--focus))}.markdown a:hover{background-color:rgb(var(--hover));box-shadow:0 0 0 4px rgb(var(--hover))}.markdown hr{margin:2rem 0;border-right:none;border-left:none;border-bottom:none;border-top-style:solid}.markdown table{border:2px solid rgba(var(--on-surface), 0.3);margin-left:auto;margin-right:auto;border-spacing:0;border-collapse:collapse;overflow-x:auto;display:block;max-width:fit-content}.markdown table td,.markdown table th{padding:1rem;min-width:8em}.markdown table td:not(:last-child),.markdown table th:not(:last-child){border-right:2px solid rgba(var(--on-surface), 0.3)}.markdown table tr:not(:last-child),.markdown table th{border-bottom:2px solid rgba(var(--on-surface), 0.3)}.markdown>*:last-child{margin-bottom:0}*{box-sizing:border-box}.markdown h1{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:30.9451px;line-height:40px;padding:0.05px 0}.markdown h1::before{content:"";margin-top:-0.2788em;display:block;height:0}.markdown h1::after{content:"";margin-bottom:-0.3061em;display:block;height:0}.type-h1{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:30.9451px;line-height:40px;padding:0.05px 0}.type-h1::before{content:"";margin-top:-0.2788em;display:block;height:0}.type-h1::after{content:"";margin-bottom:-0.3061em;display:block;height:0}.markdown h2{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:28.1319px;line-height:36px;padding:0.05px 0}.markdown h2::before{content:"";margin-top:-0.2725em;display:block;height:0}.markdown h2::after{content:"";margin-bottom:-0.2998em;display:block;height:0}.type-h2{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:28.1319px;line-height:36px;padding:0.05px 0}.type-h2::before{content:"";margin-top:-0.2725em;display:block;height:0}.type-h2::after{content:"";margin-bottom:-0.2998em;display:block;height:0}.markdown h3{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:25.3187px;line-height:32px;padding:0.05px 0}.markdown h3::before{content:"";margin-top:-0.2648em;display:block;height:0}.markdown h3::after{content:"";margin-bottom:-0.2921em;display:block;height:0}.type-h3{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:25.3187px;line-height:32px;padding:0.05px 0}.type-h3::before{content:"";margin-top:-0.2648em;display:block;height:0}.type-h3::after{content:"";margin-bottom:-0.2921em;display:block;height:0}.markdown h4{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:22.5055px;line-height:28px;padding:0.05px 0}.markdown h4::before{content:"";margin-top:-0.2552em;display:block;height:0}.markdown h4::after{content:"";margin-bottom:-0.2825em;display:block;height:0}.type-h4{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:22.5055px;line-height:28px;padding:0.05px 0}.type-h4::before{content:"";margin-top:-0.2552em;display:block;height:0}.type-h4::after{content:"";margin-bottom:-0.2825em;display:block;height:0}.markdown h5{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:19.6923px;line-height:26px;padding:0.05px 0}.markdown h5::before{content:"";margin-top:-0.2936em;display:block;height:0}.markdown h5::after{content:"";margin-bottom:-0.3209em;display:block;height:0}.type-h5{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:19.6923px;line-height:26px;padding:0.05px 0}.type-h5::before{content:"";margin-top:-0.2936em;display:block;height:0}.type-h5::after{content:"";margin-bottom:-0.3209em;display:block;height:0}.markdown h6{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:16.8791px;line-height:24px;padding:0.05px 0}.markdown h6::before{content:"";margin-top:-0.3448em;display:block;height:0}.markdown h6::after{content:"";margin-bottom:-0.3721em;display:block;height:0}.type-h6{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:16.8791px;line-height:24px;padding:0.05px 0}.type-h6::before{content:"";margin-top:-0.3448em;display:block;height:0}.type-h6::after{content:"";margin-bottom:-0.3721em;display:block;height:0}p,td,th,.markdown li{font-family:Overpass, ui-sans-serif, system-ui, sans-serif;font-size:17.1429px;line-height:24px;padding:0.05px 0}p::before,td::before,th::before,.markdown li::before{content:"";margin-top:-0.2519em;display:block;height:0}p::after,td::after,th::after,.markdown li::after{content:"";margin-bottom:-0.4539em;display:block;height:0}.markdown li{margin-bottom:12px}.type-body1{font-family:Overpass, ui-sans-serif, system-ui, sans-serif;font-size:17.1429px;line-height:24px;padding:0.05px 0}.type-body1::before{content:"";margin-top:-0.2519em;display:block;height:0}.type-body1::after{content:"";margin-bottom:-0.4539em;display:block;height:0}.type-button{font-family:Roboto Mono, ui-monospace, monospace;font-weight:500;font-size:16.8791px;line-height:24px;padding:0.05px 0}.type-button::before{content:"";margin-top:-0.3914em;display:block;height:0}.type-button::after{content:"";margin-bottom:-0.3255em;display:block;height:0}.type-overline{font-family:Roboto Mono, ui-monospace, monospace;font-weight:600;text-transform:uppercase;font-size:14.0659px;line-height:22px;padding:0.05px 0}.type-overline::before{content:"";margin-top:-0.4631em;display:block;height:0}.type-overline::after{content:"";margin-bottom:-0.3972em;display:block;height:0}.background{background-color:rgb(var(--background));color:rgb(var(--on-background));border-color:rgb(var(--on-background))}.background svg{fill:rgb(var(--on-background))}.surface{background-color:rgb(var(--surface));color:rgb(var(--on-surface));border-color:rgb(var(--on-surface))}.surface svg{fill:rgb(var(--on-surface))}.primary{background-color:rgb(var(--primary));color:rgb(var(--on-primary));border-color:rgb(var(--on-primary))}.primary svg{fill:rgb(var(--on-primary))}.secondary{background-color:rgb(var(--secondary));color:rgb(var(--on-secondary));border-color:rgb(var(--on-secondary))}.secondary svg{fill:rgb(var(--on-secondary))}.modal{background-color:rgb(var(--surface));color:rgb(var(--on-surface));border-color:rgb(var(--on-surface))}.modal svg{fill:rgb(var(--on-surface))}@media(min-width: 768px){.modal{background-color:rgb(var(--background));color:rgb(var(--on-background));border-color:rgb(var(--on-background))}.modal svg{fill:rgb(var(--on-background))}}

.payment-method {
    height: 36px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: block;
}

.btn{display:flex;align-items:center;justify-content:center;color:inherit;border:none;background:transparent;padding:0 1rem;outline:none;cursor:pointer;min-height:2.25rem;text-decoration:none}.btn:hover:not([outline]){background-color:rgb(var(--hover))}.btn[inline]{padding:0;min-height:0}.btn[inline]:not([icon]){transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;border-radius:2px;display:inline}.btn[inline]:not([icon]):focus:not(:active){background-color:rgb(var(--focus));color:rgb(var(--on-focus))}.btn[inline]:not([icon]):focus:not(:active) svg{fill:rgb(var(--on-focus))}.btn[inline]:not([icon]):focus:not(:active){outline:none;box-shadow:0 0 0 4px rgb(var(--focus))}.btn[inline]:not([icon]):hover{background-color:rgb(var(--hover));box-shadow:0 0 0 4px rgb(var(--hover))}.btn[icon]{padding:0;border-radius:50%;width:2.25rem;height:2.25rem}.btn[icon][inline]{margin:-0.375em}.btn[icon] svg{height:1.5rem;width:1.5rem}.btn[outline]{border:2px solid rgb(var(--primary));border-radius:4px;box-shadow:2px 2px 0 0 rgb(var(--primary));transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;background-color:rgb(var(--surface))}.btn[outline]:focus:not(:active){outline:none;box-shadow:0 0 0 4px rgb(var(--focus))}.btn[outline]:hover{transform:translate(-2px, -2px);box-shadow:4px 4px 0 0 rgb(var(--primary))}.btn[outline]:active,.btn[outline][selected]:not(:focus){transform:translate(2px, 2px);box-shadow:none}.btn[selected]:not([outline]){background-color:rgba(var(--primary), 0.2)}.btn:not([outline]){transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out}.btn:not([outline]):focus:not(:active){background-color:rgb(var(--focus));color:rgb(var(--on-focus))}.btn:not([outline]):focus:not(:active) svg{fill:rgb(var(--on-focus))}
.size-picker[data-v-52881a76]{display:flex;border-radius:4px}.size-picker .btn[data-v-52881a76]:first-child{border-top-right-radius:0;border-bottom-right-radius:0}.size-picker .btn[data-v-52881a76]:not(:first-child){margin-left:-2px}.size-picker .btn[data-v-52881a76]:focus{z-index:4 !important}@media(min-width: 768px){.size-picker .btn[data-v-52881a76]:not(:first-child):not(:last-child){border-radius:0}.size-picker .btn[data-v-52881a76]:last-child{border-top-left-radius:0;border-bottom-left-radius:0}}@media(max-width: 768px){.size-picker .btn[data-v-52881a76]:nth-child(2){border-top-left-radius:0;border-bottom-left-radius:0}.size-picker .btn[data-v-52881a76]:nth-child(n+3){display:none}}

.drawer[data-v-810148ea]{display:flex;flex-direction:column;align-items:flex-start;width:16rem;max-width:100%;height:100%;z-index:100;transition:width 300ms ease-in-out;padding:1rem 1rem 2.5rem 0}.drawer .actions[data-v-810148ea]{display:flex;align-items:center;justify-content:space-between;align-self:stretch;margin:0 0 calc(1rem + 2px) 2.5rem;height:2.25rem}.drawer .actions .logo svg[data-v-810148ea]{fill:none;stroke:rgb(var(--on-surface))}.drawer .actions .logo[data-v-810148ea]:focus:not(:active){outline:none}.drawer .actions .logo:focus:not(:active) svg[data-v-810148ea]{fill:rgb(var(--focus));stroke:rgb(var(--focus))}.drawer .actions .logo:hover svg[data-v-810148ea]{fill:rgb(var(--on-surface))}.drawer .tabs[data-v-810148ea]{align-self:stretch;margin-bottom:auto}.drawer .tabs li[data-v-810148ea]{width:100%}.drawer .tabs li[data-v-810148ea]:not(:last-child){margin-bottom:.25rem}.drawer .tabs li a[data-v-810148ea]{display:flex;border-radius:0 4px 4px 0;padding-left:2.5rem;height:2.5rem;align-items:center;transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out}.drawer .tabs li a[data-v-810148ea]:focus:not(:active){outline:none;box-shadow:0 0 0 4px rgb(var(--focus))}.drawer .tabs li a[data-v-810148ea]:hover,.drawer .tabs li a[data-v-810148ea]:focus{background-color:rgb(var(--hover))}.drawer .tabs li a[selected][data-v-810148ea]{background-color:rgb(var(--primary));color:rgb(var(--on-primary))}.drawer .options[data-v-810148ea]{margin:0 0 2.5rem 2.5rem;display:flex;flex-direction:column;align-items:flex-start}.drawer .options>*[data-v-810148ea]:not(:last-child){margin-bottom:1rem}.drawer .socials[data-v-810148ea]{margin-left:2.5rem}@media(max-width: 768px){.drawer[data-v-810148ea]{position:absolute;border-right:2px solid rgb(var(--primary))}}@media(max-width: 1024px){.drawer[collapse][data-v-810148ea]{left:-16rem}}@media(max-width: 1024px)and (min-width: 768px){.drawer[data-v-810148ea]{overflow-x:hidden;border:none}.drawer[collapse][data-v-810148ea]{padding-right:0;width:0}}@media(min-width: 768px){.drawer[data-v-810148ea]{padding-right:.5rem}}@media(min-width: 1024px){.drawer .actions .close[data-v-810148ea]{display:none}}
.loading[data-v-14418152]{position:absolute;top:0;bottom:0;left:0;right:0;display:flex;align-items:center;justify-content:center}.loading>div[data-v-14418152]{padding:.5rem 1rem}
.card[data-v-2f845e77]{border:2px solid rgb(var(--primary));border-radius:4px;box-shadow:2px 2px 0 0 rgb(var(--primary));transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;display:flex;padding:1rem;flex-direction:column}
.picture[data-v-15693d28]{transition-property:background-color,box-shadow,transform;transition-duration:100ms;transition-timing-function:ease-in-out;display:block;padding:0;border:none;outline:none;background-color:transparent;position:relative;overflow:hidden}.picture[data-v-15693d28]:focus:not(:active){outline:none;box-shadow:0 0 0 4px rgb(var(--focus))}.picture .loading[data-v-15693d28]{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;justify-content:center;align-items:center}.picture img[data-v-15693d28]{height:100%;width:100%;display:block;object-fit:cover;object-position:center}.fade-enter-active[data-v-15693d28],.fade-leave-active[data-v-15693d28]{transition:opacity .5s}.fade-enter[data-v-15693d28],.fade-leave-to[data-v-15693d28]{opacity:0}
.gallery .picture[data-v-22cefc23]{height:8rem;width:8rem;border-radius:4px;transition:box-shadow 100ms ease-in-out;cursor:pointer}.gallery .picture[data-v-22cefc23]:hover{box-shadow:0 0 0 2px rgb(var(--primary))}

.post{overflow-x:hidden}.post .region,.post .title{margin-bottom:1rem}.post article .title{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:22.5055px;line-height:28px;padding:0.05px 0}.post article .title::before{content:"";margin-top:-0.2552em;display:block;height:0}.post article .title::after{content:"";margin-bottom:-0.2825em;display:block;height:0}.post[scale="0"] .title{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:30.9451px;line-height:40px;padding:0.05px 0;margin-bottom:2rem}.post[scale="0"] .title::before{content:"";margin-top:-0.2788em;display:block;height:0}.post[scale="0"] .title::after{content:"";margin-bottom:-0.3061em;display:block;height:0}.post[scale="0"] .gallery{margin-bottom:2rem}.post[scale="0"] .description{margin-bottom:2rem}@media(max-width: 768px){.post[scale="0"] article .title{font-family:Roboto Condensed, ui-sans-serif, system-ui, sans-serif;font-size:22.5055px;line-height:28px;padding:0.05px 0}.post[scale="0"] article .title::before{content:"";margin-top:-0.2552em;display:block;height:0}.post[scale="0"] article .title::after{content:"";margin-bottom:-0.2825em;display:block;height:0}.post[scale="0"] article .gallery{display:grid;grid-gap:1rem;grid-auto-columns:8rem;grid-auto-flow:column;overflow-x:auto;padding-left:1rem;margin:0 -1rem 2rem -1rem}.post[scale="0"] article .gallery::after{content:"";grid-row:1;width:1px}}@media(min-width: 768px){.post[scale="0"]{padding:2rem}.post[scale="0"] article .gallery{display:flex;grid-gap:1rem;flex-wrap:wrap}}@media(min-width: 1024px){.post[scale="0"]{position:relative}.post[scale="0"] .region{position:absolute;top:2rem;left:2rem}.post[scale="0"] article{display:flex;flex-direction:column}.post[scale="0"] article .title{width:36rem}.post[scale="0"] article .gallery{min-width:36rem;margin-left:5rem;margin-right:auto}}@media(min-width: 1024px)and (min-width: 1120px){.post[scale="0"] article .gallery{margin-left:auto}}@media(min-width: 1024px){.post[scale="0"] article .title,.post[scale="0"] article .markdown h1,.post[scale="0"] article .markdown h2,.post[scale="0"] article .markdown h3,.post[scale="0"] article .markdown h4,.post[scale="0"] article .markdown h5,.post[scale="0"] article .markdown h6,.post[scale="0"] article .markdown p,.post[scale="0"] article .markdown td,.post[scale="0"] article .markdown ol,.post[scale="0"] article .markdown ul,.post[scale="0"] article .markdown pre{max-width:36rem;margin-left:5rem;margin-right:auto}}@media(min-width: 1024px)and (min-width: 1120px){.post[scale="0"] article .title,.post[scale="0"] article .markdown h1,.post[scale="0"] article .markdown h2,.post[scale="0"] article .markdown h3,.post[scale="0"] article .markdown h4,.post[scale="0"] article .markdown h5,.post[scale="0"] article .markdown h6,.post[scale="0"] article .markdown p,.post[scale="0"] article .markdown td,.post[scale="0"] article .markdown ol,.post[scale="0"] article .markdown ul,.post[scale="0"] article .markdown pre{margin-left:auto}}.post[scale="1"] .gallery,.post[scale="2"] .gallery{display:grid;grid-gap:1rem;grid-template-columns:repeat(auto-fit, 8rem);overflow-x:auto;position:relative;padding:4px 4px 4px 1rem;margin:-4px -1rem calc(1rem - 4px) -1rem}.post[scale="1"] .gallery::after,.post[scale="2"] .gallery::after{content:"";grid-row:1;width:1px}.post[scale="1"] .gallery::-webkit-scrollbar,.post[scale="2"] .gallery::-webkit-scrollbar{height:0}.post[scale="1"] .gallery .picture,.post[scale="2"] .gallery .picture{grid-row:1}
.posts[data-v-bfbf36f8]{column-gap:1rem;grid-gap:1rem;grid-auto-rows:max-content;grid-template-columns:[start] 1fr [end]}.posts[data-v-bfbf36f8]::after{content:"";height:1px;grid-column:start/end}.posts[scale="0"][data-v-bfbf36f8]{display:grid}.posts[scale="1"][data-v-bfbf36f8]{display:grid}@media(min-width: 1024px){.posts[scale="1"][data-v-bfbf36f8]{display:block;columns:2 0}.posts[scale="1"] .posting[data-v-bfbf36f8]{width:100%;margin-bottom:1rem;display:inline-block}}.posts[scale="2"][data-v-bfbf36f8]{display:block;columns:2 0}.posts[scale="2"] .posting[data-v-bfbf36f8]{width:100%;margin-bottom:1rem;display:inline-block}@media(min-width: 1280px){.posts[scale="2"][data-v-bfbf36f8]{columns:3 0}}@media(min-width: 1536px){.posts[scale="2"][data-v-bfbf36f8]{columns:25rem auto}}
input[data-v-399f5879]{width:100%;display:block;color:inherit;border:none;background-color:transparent;height:2.25rem;outline:none;border-bottom-width:2px;border-bottom-style:solid;opacity:.54}input[data-v-399f5879]:focus{border-color:rgb(var(--focus));opacity:1}input[data-v-399f5879]:focus::placeholder{opacity:.54}input[data-v-399f5879]::placeholder{color:inherit}
.region-picker[data-v-291c6cb4]{position:relative}.region-picker .region-container[data-v-291c6cb4]{display:block}.region-picker .actions[data-v-291c6cb4]{display:flex;position:absolute;right:0;top:0}
.search[data-v-eeedc47e]{width:100%;position:relative}.search .actions[data-v-eeedc47e]{display:flex;position:absolute;right:0;top:0}
#posts[data-v-19fdddae]{margin:0 auto;display:flex;height:100%}#posts .drawer[data-v-19fdddae]{flex:0 0 auto}#posts .container[data-v-19fdddae]{flex:1;display:flex;flex-direction:column;padding-left:1rem}#posts .container .title-bar[data-v-19fdddae]{display:flex;padding:1rem 1rem 4px 4px;margin-left:-4px}#posts .container .title-bar>*[data-v-19fdddae]:not(:last-child){margin-right:1rem}#posts .container .title-bar .search[data-v-19fdddae]{flex:1}#posts .container main[data-v-19fdddae]{position:relative;display:flex;flex-direction:column;overflow:hidden;margin-left:-4px}#posts .container main[data-v-19fdddae]::before{content:"";position:absolute;right:0;left:0%;top:0;z-index:10;display:block;height:1rem;background-size:1rem 100%;background-image:linear-gradient(rgb(var(--background)) 25%, transparent 100%);background-position:0 0}#posts .container main .posts[data-v-19fdddae]{overflow-y:auto;padding:calc(1rem - 2px) 1rem 0 4px}@media(min-width: 768px){#posts .container[data-v-19fdddae]:not([collapsed]){padding-left:.5rem}}@media(min-width: 1024px){#posts .container[data-v-19fdddae]{padding-left:.5rem}#posts .title-bar .menu[data-v-19fdddae]{display:none}}
#gallery{position:absolute;top:0;right:0;bottom:0;left:0;z-index:100;display:flex;flex-direction:column}#gallery .actions{position:absolute;top:0;right:0;left:0;margin:1rem;z-index:101;display:flex;justify-content:space-between}#gallery .pictures{flex:1;display:flex;overflow-x:auto;scroll-snap-type:x mandatory}#gallery .pictures .picture{scroll-snap-align:center;flex:auto 1 0;width:100%;height:100%}#gallery .pictures .picture img{object-fit:contain}#gallery .thumbnails{display:flex;overflow-x:auto;padding:1rem}#gallery .thumbnails::after{display:block;content:"";min-width:1rem}#gallery .thumbnails .picture{flex:auto 0 0;height:8rem;width:8rem;border-radius:4px;transition:box-shadow 100ms ease-in-out;cursor:pointer}#gallery .thumbnails .picture:not(:last-child){margin-right:1rem}#gallery .thumbnails .picture:hover,#gallery .thumbnails .picture:focus{box-shadow:0 0 0 2px rgb(var(--primary))}
html,body,#app{width:100%;height:100%}

/*# sourceMappingURL=main.css.map*/