$primary: rgb(var(--primary));
$on-primary: rgb(var(--on-primary));
$secondary: rgb(var(--secondary));
$on-secondary: rgb(var(--on-secondary));
$background: rgb(var(--background));
$on-background: rgb(var(--on-background));
$surface: rgb(var(--surface));
$on-surface: rgb(var(--on-surface));

$alpha-hover: 0.1;
$alpha-focus: 0.3;

$map: (
    background: ($background, $on-background),
    surface: ($surface, $on-surface),
    primary: ($primary, $on-primary),
    secondary: ($secondary, $on-secondary),
);
