@use 'sass:list';
@use 'typography';
@use 'color';
@use 'reset';

* {
    box-sizing: border-box;
}

// build typography classes
@each $type, $props in typography.$typography {
    .type-#{$type} {
        @each $prop, $value in $props {
            #{$prop}: #{$value};
        }
    }
}

// build color classes
@each $color, $values in color.$map {
    .#{$color} {
        $bg: list.nth($values, 1);
        $fg: list.nth($values, 2);

        background-color: $bg;
        color: $fg;
        border-color: $fg;

        svg {
            fill: $fg;
        }
    }
}

// build shape classes
.surface {
    border: 2px solid color.$primary;
    box-shadow: 2px 2px 0 0 color.$primary;
    transition-property: box-shadow, transform;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    border-radius: 4px;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 4px 4px 0 0 color.$primary;
    }

    &:active {
        transform: translate(2px, 2px);
        box-shadow: none;
    }
}
