@use 'responsive' as r;
@use 'typography';
@use 'color';
@use 'mixins';
@use 'shape';

.markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    td,
    ol,
    ul,
    pre {
        overflow-wrap: break-word;
        word-break: break-word;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    pre,
    table {
        margin-bottom: 2rem;
    }

    ol,
    ul {
        padding-inline-start: 2rem;
    }

    ul {
        list-style-type: '\2014';
    }

    li {
        padding-left: 0.5em;
    }

    a {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        outline: none;

        @include mixins.inline-interactive;
    }

    hr {
        margin: 2rem 0;
        border-right: none;
        border-left: none;
        border-bottom: none;
        border-top-style: solid;
    }

    table {
        $color: rgba(var(--on-surface), 0.2);
        $border: 2px solid $color;

        border: $border;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        max-width: fit-content;

        &::-webkit-scrollbar {
            background-color: $color;
        }

        td,
        th {
            padding: 1rem;
            min-width: 8em;

            &:not(:last-child) {
                border-right: $border;
            }
        }

        tr:not(:last-child),
        th {
            border-bottom: $border;
        }
    }

    strong {
        font-weight: 700;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
