@use 'responsive' as r;
@use 'typography';
@use 'color';

.markdown {
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    td,
    ol,
    ul {
        overflow-wrap: break-word;
        word-break: break-word;

        @include r.lg {
            max-width: typography.$max-line-width;
            margin: 0 auto;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    table {
        margin-bottom: 2rem;
    }

    ol,
    ul {
        padding-inline-start: 2rem;
    }

    ul {
        list-style-type: '\2014';
    }

    li {
        padding-left: 0.5em;
    }

    a {
        border-bottom-style: solid;
        border-bottom-width: 1px;

        &:hover {
            background-color: rgba(var(--primary), color.$alpha-hover);
        }

        &:focus {
            background-color: rgba(var(--primary), color.$alpha-focus);
        }
    }

    hr {
        margin: 2rem 0;
        border-right: none;
        border-left: none;
        border-bottom: none;
        border-top-style: solid;
    }

    table {
        $border: 2px solid rgba(var(--on-surface), color.$alpha-focus);

        border: $border;
        margin-left: auto;
        margin-right: auto;
        min-width: typography.$max-line-width;
        border-spacing: 0;
        border-collapse: collapse;
        overflow-x: auto;

        td,
        th {
            padding: 1rem;
            min-width: 8em;

            &:not(:last-child) {
                border-right: $border;
            }
        }

        tr:not(:last-child),
        th {
            border-bottom: $border;
        }
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
