@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$family-roboto-condensed: 'Roboto Condensed', ui-sans-serif, system-ui, sans-serif;
$family-roboto-mono: 'Roboto Mono', ui-monospace, monospace;
$family-overpass: 'Overpass', ui-sans-serif, system-ui, sans-serif;

$max-line-width: 36rem;

$typography: (
    h1: (
        font-family: $family-roboto-condensed,
        font-size: 96px,
    ),
    h2: (
        font-family: $family-roboto-condensed,
        font-size: 60px,
    ),
    h3: (
        font-family: $family-roboto-condensed,
        font-size: 48px,
    ),
    h4: (
        font-family: $family-roboto-condensed,
        font-size: 34px,
    ),
    h5: (
        font-family: $family-roboto-condensed,
        font-size: 24px,
    ),
    h6: (
        // cap height: 16
        // line gap: 12
        font-family: $family-roboto-condensed,
        font-size: 22.5055px,
        line-height: 28px,
        padding: 0.05px 0,
        before: -0.2552em,
        after: -0.2825em,
    ),
    body1: (
        // cap height: 12
        // line gap: 12
        font-family: $family-overpass,
        font-size: 17.1429px,
        line-height: 24px,
        padding: 0.05px 0,
        before: -0.2519em,
        after: -0.4539em,
    ),
    body2: (
        font-family: $family-overpass,
        font-size: 14px,
    ),
    subtitle1: (
        font-family: $family-roboto-mono,
        font-size: 16px,
    ),
    subtitle2: (
        font-family: $family-roboto-mono,
        font-size: 14px,
    ),
    button: (
        // cap height: 12
        // line gap: 12
        font-family: $family-roboto-mono,
        font-weight: 500,
        font-size: 16.8791px,
        line-height: 24px,
        padding: 0.05px 0,
        before: -0.3914em,
        after: -0.3255em,
    ),
    caption: (
        font-family: $family-overpass,
        font-size: 12px,
    ),
    overline: (
        // cap height: 10
        // line gap: 12
        font-family: $family-roboto-mono,
        font-weight: 600,
        text-transform: uppercase,
        font-size: 14.0659px,
        line-height: 22px,
        padding: 0.05px 0,
        before: -0.4631em,
        after: -0.3972em,
    ),
);
